<header>
    
</header>
<a href="/">Home</a>
<a href="/users/login">Login</a>
<a href="/users/register">Register</a>
<% if(typeof empType != 'undefined') { %>
    <a href="/admins/register">Register Admin</a> %>
<% } %>
<a href="/users/profile">Profile</a>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>