<%- include('./partials/header', { empType }) %>
<div class="container">
    <h1>Dashboard</h1>
    <h2>Hi <%= name %></h2>

    <div id="map"></div>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default" defer></script>
<% if(empType && empType == 'keells'){ %>
    <script src="/js/keells.js" defer></script>
<% }else if(empType && empType == 'doa'){ %>
    <script src="/js/doa.js" defer></script>
<% } %>  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyeYmD3NdWczN4lcyE8_1qNQS5LNIvUSY&callback=initMap&libraries=&v=weekly" defer></script>

<script src="/socket.io/socket.io.js" defer></script>
<script>
    window.addEventListener('load', () => {
        const userId = `<%- userId %>`;
        const empType = `<%- empType %>`;
        const socket = io({ query: { userId, empType } });
    });  
</script>