<%- include('./partials/header', { empType }) %>
<div class="container">
    <h1>Dashboard</h1>
    <h2>Hi <%= name %></h2>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</div>
<script src="/socket.io/socket.io.js" defer></script>
<script>
    window.addEventListener('load', () => {
        const userId = `<%- userId %>`;
        const empType = `<%- empType %>`;
        const socket = io({ query: { userId, empType } });
    });  
</script>