<%- include('./partials/header') %>


<body class="home-body">
    <div class="container">
        <div id="home-container">
            <section class="home-section1" id="home-welcome" >
                <div class="container h-100">
                    
                    <div class="row h-100 align-items-center justify-content-center text-center" id="home-welcome-container">
                        <div class="col-lg-10 align-self-end">
                            <h1 class="home-text-shadow home-fade" id="home-title1">wfma wiajekak</h1>
                            <h1 class=" text-black font-weight-bold home-text-shadow home-fade" id="home-title2">Welcome to Ape Aswenna</h1>
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 font-weight-light mb-5 font-weight-bold home-text-shadow home-fade" id="home-title3"><i>But I must explain to you how all this</i></p>
                            <div class="btn btn-primary btn-xl js-scroll-trigger home-btn-shadow home-fade" id="home-btn1">
                                <a  class="btn btn-primary btn-xl js-scroll-trigger " id="home-btn1-1" href="#home-location">Get Started</a>
                                <a href="#home-location">
                                    <img class="arrow2" src="/assets/staticticsarrow.png">
                                </a>
                            </div >
                        
                            <div>
                                <a class="home-hidden" href="#home-location"> 
                                <div class="btn btn-primary btn-xl js-scroll-trigger home-btn-shadow"  id="home-next1">
                                    <img class="arrow" src="/assets/Next page button.png">
                                </div> </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
    
            <section class="home-section2" id="home-location">
                <div class="row h-100 align-items-center justify-content-center text-center" id="home-chart">
                    <div id="home-map-container">
                        <h1 class=" text-black font-weight-bold home-text-shadow" id="home-title2-1">Registered farmers all over the Sri Lanka</h1>
                        <div  id="home-map"></div>
                        <div class="btn btn-primary btn-xl js-scroll-trigger home-btn-shadow" id="home-btn2">
                            <a class="btn btn-primary btn-xl js-scroll-trigger" id="home-btn2-1" href="#home-pie">Statistic</a>
                            <a href="#home-pie">
                                <img class="arrow2" src="/assets/staticticsarrow.png">
                            </a>
                        </div>
                        <div>
                            <a class="home-hidden" href="#home-pie"> 
                            <div class="btn btn-primary btn-xl js-scroll-trigger home-btn-shadow"  id="home-next2">
                                <img class="arrow" src="/assets/Next page button.png">
                            </div> </a>
                        </div>
                        <div>
                            <a class="home-hidden" href="#home-welcome"> 
                            <div class="btn btn-primary btn-xl js-scroll-trigger home-btn-shadow"  id="home-pre1">
                                <img class="arrow" src="/assets/prev button.png">
                            </div> </a>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="home-section3" id="home-pie" >
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div id="home-chart-container">
                        <h1 class=" text-black font-weight-bold home-text-shadow" id="home-title2-2">The varieties our farmers supply</h1>
                        <div  id="piechart" style="width: 900px; height: 400px;"></div>
                        <div class="btn btn-primary btn-xl js-scroll-trigger home-btn-shadow" id="home-btn3">
                            <a class="btn btn-primary btn-xl js-scroll-trigger" id="home-btn3-1" href="/users/login">Join with us</a>
                            <a href="/users/login">
                                <img class="arrow2" src="/assets/staticticsarrow.png">
                            </a>
                        </div>
                        <div>
                            <a class="home-hidden" href="#home-location"> 
                            <div class="btn btn-primary btn-xl js-scroll-trigger home-btn-shadow"  id="home-pre2">
                                <img class="arrow" src="/assets/prev button.png">
                            </div> </a>
                        </div>
                    </div>
                </div>
            </section>
         </div>
    </div>
</body>
    


    <div id="home-map"></div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default" defer></script>
<script src="/js/home.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyeYmD3NdWczN4lcyE8_1qNQS5LNIvUSY&callback=initMap&libraries=&v=weekly" defer></script>