<%- include('./partials/header') %>
<div class="container">
    <h1>Login</h1>
    <% if(messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form action="/users/login" method="POST">
        <div>
            <label for="userId">ID</label>
            <input type="text" name="userId" id="userId">
        </div>
        <div>
            <label for="userPwd">Password</label>
            <input type="password" name="password" id="userPwd">
        </div>
        <button type="submit">Login</button>
    </form>
</div>