<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="userId">ID</label>
        <input type="text" name="userId" id="userId">
    </div>
    <div>
        <label for="userPwd">Password</label>
        <input type="password" name="userPwd" id="userPwd">
    </div>
    <button type="submit">Login</button>
</form>