<body id="auth-body">

    <%- include('./partials/header') %>
        <div class="auth-moving-top-karal">
            <img src="/assets/wi Karal top.png" alt="">
        </div>
        <div class="auth-moving-wi-bissa">
            <img src="/assets/wi bissa.png" alt="">
        </div>
        <div class="auth-moving-art">
            <img src="/assets/artBgLog.png" alt="">
        </div>

        </div>
        <div class="auth-container ">

            <div class="auth-bg-img">
                <div class="auth-card  container-md auth-inputs" id="">

                    <div class="auth-logo-name auth-dark-green auth-text-shadow">wfma wiajekak</div>
                    <div class="auth-fruit"><img src="/assets/page-not-found-404.png" alt=""></div>
                    <div class="auth-title auth-dark-green auth-text-shadow">OOPS!! PAGE NOT FOUND</div>

                    <a href="/"><button class="auth-log-button auth-button-shadow">HOME</button></a>

                </div>

            </div>

            </form>

        </div>
        </div>
        </div>



</body>